@inherits LayoutComponentBase
@inject DisplayService displayService
@inject IJSRuntime iJSRuntime

<div class="bg-gray_darkest w-screen h-screen">
    <div class="w-full overflow-hidden h-full relative">
        <Presentor Lyric="@displayService.LyricToDisplay">

        </Presentor>
    </div>
</div>
@code {
    protected override void OnInitialized()
    {
        displayService.OnChange += StateHasChanged;
    }
}
