@inherits LayoutComponentBase

<div class="bg-gray_darkest w-full h-screen flex flex-col-reverse xl:flex-row font-sans">

    <div class="bg-gray z-40 w-full text-white_normal h-14 xl:w-14 xl:h-full xl:grid xl:grid-rows-2 flex justify-center font-ark text-lg">
        <div class="flex flex-row xl:flex-col">
            <NavLink class="w-14 h-14 flex items-center justify-center hover:text-white_light hover:bg-white_normal hover:bg-opacity-5"
                     ActiveClass="bg-primary text-white_light hover:bg-primary hover:bg-opacity-100" href="present">P</NavLink>
            <NavLink class="w-14 h-14 flex items-center justify-center hover:text-white_light hover:bg-white_normal hover:bg-opacity-5"
                     ActiveClass="bg-primary text-white_light hover:bg-primary hover:bg-opacity-100" href="songlibrary">S</NavLink>
            <NavLink class="w-14 h-14 flex items-center justify-center hover:text-white_light hover:bg-white_normal hover:bg-opacity-5"
                         ActiveClass="bg-primary text-white_light hover:bg-primary hover:bg-opacity-100" href="biblelibrary">B</NavLink>
        </div>

        <div class="flex xl:flex-col xl:justify-end">
        <NavLink class="w-14 h-14 flex items-center justify-center hover:text-white_light hover:bg-white_normal hover:bg-opacity-5"
                     ActiveClass="bg-primary text-white_light hover:bg-primary hover:bg-opacity-100" href="history">H</NavLink>
        <NavLink class="w-14 h-14 flex items-center justify-center hover:text-white_light hover:bg-white_normal hover:bg-opacity-5"
                 ActiveClass="bg-primary text-white_light hover:bg-primary hover:bg-opacity-100" Match="NavLinkMatch.All" href="">O</NavLink>
        </div>

    </div>

    <div class="w-full h-screen">
            @Body
    </div>
</div>


<Toast />
