@page "/"
@inject SongService songService
@inject ToastService toastService


<button class="w-16 ml-2 bg-gray text-white_normal hover:text-white" @onclick="onSync">Sync From Cloud</button>
<div class="w-16 h-16 font-ark animate-spin text-white_normal @(hidden ? "hidden" : "")">H</div>

@code {
    private bool hidden = true;
    private async Task onSync()
    {
        hidden = false;
        await songService.SyncFromWebAPI();
        hidden = true;
    }
}
